
/* -------------------- Colors -------------------- */
/* #0b2959, #062352, #051e46, #07214c*/
$sideMenuBgColor: #0b2956;
$sideMenuColor: #677a93;
$sideMenuColorOpacity: rgba(103, 122, 147, 0.4);
$sideMenuMainMenuActiveBgColor: #07214c;
$sideMenuMainMenuActiveColor: #fff;

$sideMenuSubMenuBgColor: $sideMenuMainMenuActiveBgColor;
$sideMenuSubMenuActiveBgColor: #03183c;
$sideMenuSubMenuActiveColor: #fff;
$sideMenuSubMenuActiveColorOpactity: rgba(3, 23, 60, 0.5);
$sideMenuDividerColor: $sideMenuBgColor;

$sideMenuMainMenuWidth: 62px;
$sideMenuSubMenuWidth: 250px;



html {
  height: 100%;
}
body {
  height: 100%;
  overflow: hidden;
  margin: 0px;
}


.sidemenu {
  display: flex;
  height: 100%;
}

.sidemenu a {
  text-decoration: none;
  color: inherit;
  outline: none;
}

.sidemenu-main-container {
  height: 100%;
  overflow-y: auto;
  padding: 20px;
  word-break: break-word;
}


.sidemenu-left-container {
  display: flex;
//   flex: 0 0 310px;
  background-color: $sideMenuBgColor;
  color: $sideMenuColor;
}

.sidemenu-main-menu {
  display: flex;
  flex-direction: column;
  min-width: $sideMenuMainMenuWidth;
}
.sidemenu-main-menu-item {
  cursor: pointer;
  text-align: center;
  font-size: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 54px;
}

.user-rounded {
  border: 1px solid $sideMenuColorOpacity;
  border-radius: 50%;
  padding: 6px;
}
.sidemenu-main-menu-item.bottom {
  margin-top: auto;
}

.sidemenu-main-menu-item.active {
  background-color: $sideMenuMainMenuActiveBgColor;
  color: $sideMenuMainMenuActiveColor;
  border-left: 2px solid $sideMenuMainMenuActiveColor;
}

.sidemenu-sub-menu {
  display: flex;
  flex-direction: column;
  background-color: $sideMenuSubMenuBgColor;

}


.sidemenu-sub-menu-header {
  border-bottom: 1px solid $sideMenuSubMenuActiveColorOpactity;
  min-height: 50px;
  display: flex;
  align-items: center;
  padding: 0 15px;
}

.sidemenu-sub-menu-header--user {
  padding: 5px;
  display: flex;
  flex-direction: column;
}
.sidemenu-sub-menu-header--user > div {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
}
.sidemenu-sub-menu-header--user-status > i {
  font-size: inherit;
  margin-right: 4px;
  color: green;
}
.sidemenu-sub-menu-header--user-status {
  font-size: 0.5rem;
}

.sidemenu-sub-menu-header--user-img {
  max-width: 2rem;
  max-height: 2rem;
  margin-right: 6px;
}

.sidemenu-sub-menu-header--user-img > img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.sidemenu-sub-menu-body {
  padding: 10px 0;
  overflow-y: auto;
  font-size: 0.8rem;
}

.sidemenu-sub-menu-item--search {
  width: 100%;
  border: 1px solid $sideMenuSubMenuActiveBgColor;
  background-color: $sideMenuSubMenuActiveBgColor;
  border-radius: 10px;
  padding: 5px 10px;
  color: $sideMenuSubMenuActiveColor;
  opacity: 0.8;
}

.sidemenu-sub-menu-item--search::placeholder {
  color: $sideMenuColor;
  opacity: 0.5;
}

.sidemenu-sub-menu-item {
  padding: 6px 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.sidemenu-sub-menu-item > i {
  margin-right: 12px;
}

.sidemenu-sub-menu-item.active {
  color: $sideMenuSubMenuActiveColor;
  background-color: $sideMenuSubMenuActiveBgColor;
}

.sidemenu-item-divider {
  margin: 5px 8px;
  border-bottom: 1px solid $sideMenuDividerColor;
}

.sidemenu-group-header {
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 0.5rem;
}


// .ease-in-out { -webkit-transition: 300ms ease-out all; transition: 300ms ease-out all; }


/*

@keyframes sidebarAnim {
  0% {
    width: 220px;
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    visibility: visible;
  }
  50% {
    width: 220px;
  }
  100% {
    width: 0;
    opacity: 0;
    -webkit-transform: translateX(-220px);
            transform: translateX(-220px);
    visibility: hidden;
  }
}




.sidemenu-sub-menu{
    
  -webkit-animation: sidebarAnim 500ms;
          animation: sidebarAnim 500ms;
}


.sidemenu-sub-menu.sidemenu-sub-menu--hide {
  width: 0;
  -webkit-animation: sidebarAnim 500ms;
          animation: sidebarAnim 500ms;
}

.sidemenu-sub-menu.sidemenu-sub-menu--hide .sidemenu-sub-menu-body1 {
  -webkit-transform: translateX(-200px);
          transform: translateX(-200px);
}

.sidemenu-sub-menu.sidemenu-sub-menu--hide .brand-logo1 {
  -webkit-transform: translateX(-200px);
          transform: translateX(-200px);
  visibility: hidden;
}

.sidemenu-sub-menu.sidemenu-sub-menu--hide .sidemenu-sub-menu-header {
  visibility: hidden;
}

*/


/*
$side-nav-width: 300px;


.sidemenu-left-container{
    min-width: 62px;
}
.sidemenu-main-menu {
    background-color: inherit;
    z-index: 2;
}

.sidemenu-sub-menu {
    z-index: 1;
}

// the overall container
.sidemenu-sub-menu   {
  transition: .5s cubic-bezier(.91,.06,.47,1.05) transform;
  min-width: $side-nav-width;
}

// show the nav if the class exists and toggle the icon
.sidemenu-sub-menu.show   {
  transform: translateX(-$side-nav-width);
}
*/




.sidemenu-main-container{
    transition: 0.5s ease width;
}

.sidemenu-sub-menu   {
  transition: .5s cubic-bezier(.91,.06,.47,1.05);
  width: $sideMenuSubMenuWidth;
//   transition: 0.5s ease;
transition: .5s cubic-bezier(.91,.06,.47,1.05) width;
}

// show the nav if the class exists and toggle the icon
.sidemenu-sub-menu.hide   {
  width: 0;
  //   transition: 0.5s ease;
  transition: .5s cubic-bezier(.91,.06,.47,1.05) width;
}

.sidemenu-sub-menu.hide .sidemenu-sub-menu-header {
    transition: 0.2s ease visibility;
    visibility: hidden;
}

.sidemenu-sub-menu .sidemenu-sub-menu-header {
    transition: 0.5s ease visibility;
    visibility: visible;
}



// // style the side navigation
// .sidemenu .sidemenu-left-menu  {
//   position: absolute;
//   display: block;
//   width: $side-nav-width;
//   transform: translateX(-$side-nav-width);
// }


